{% extends 'home.html' %}
{% block content %}
{% load static %}
<!--<body>-->
<!--<h1>Профиль пользователя</h1>-->
<!--    {% if user.image_profile %}-->
<!--    <img alt="" class="image" src="{{ user.image_profile.url }}" width="200" height="150">-->
<!--    {% endif %}-->
<!--    <p>Добро пожаловать {{ user.username }}</p>-->
<!--    <p>{{ user.first_name }} {{ user.last_name }}</p>-->
<!--    <p>Дата рождения: {{ user.birth_date }}</p>-->
<!--    <p>О себе: {{ user.about_me }}</p>-->
<!--    <a type="button" class="btn btn-dark" href="{% url 'logout' %}">Выход</a>-->
<!--    <a type="button" class="btn btn-dark" href="{% url 'profile_update' user.pk %}">Редактировать</a>-->
<!--    <a type="button" class="btn btn-dark" href="{% url 'home' %}">Главная</a>-->
<!--</body>-->

<!-- ======= About Section ======= -->
<body>
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>Профиль</h2>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{{ user.image_profile.url }}" class="imgp" style="height: 300px; width: 300px;">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <p class="fst-italic">{{ user.status }}</p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>День рождения:</strong> <span>{{ user.birth_date }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Страна:</strong> <span>{{ user.country }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Образование:</strong> <span>{{ user.education }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Номер телефона:</strong> <span>{{ user.phone_number }}</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Возраст:</strong> <span>{{ user.age }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Город:</strong> <span>{{ user.city }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Место работы:</strong> <span>{{ user.job }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>E-mail:</strong> <span>{{ user.email }}</span></li>
              </ul>
            </div>
            <div>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>О себе:</strong><br><span>{{ user.about_me }}</span></li>
              </ul>
            </div>
          </div>
          <div class="social-links d-flex">
          <a href="#" class="telegram"><i class="bi bi-telegram pr-5"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook pr-5"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram pr-5"></i></a>
        </div>
        </div>
        <div class="col-lg-12 d-flex justify-content-end">
          <a class="btn btn-dark" href="{% url 'profile_update' user.pk %}#profile_update">Редактировать профиль</a>
        </div>
      </div>
    </div><!-- End About Me -->
  </section><!-- End About Section -->
</body>
{% endblock %}