{% extends 'home.html' %}
{% block content %}
<section id="friends_det" class="friends_det">
    <div class="card_det">
        <p class="">Имя: {{ friend.first_name }}</p>
        <p class="">Фамилия: {{ friend.last_name }}</p>
        <img class="" src="{{ friend.image_profile.url }}" alt="">
        <p class="desc_det">О себе: {{ friend.about_me }}</p>
    </div>
    <div>
        {% if profile.user != user %}
            <a href="{% url 'start-chat' friend.username %}">Написать сообщение</a>
        {% endif %}

    </div>
</section>

{% endblock %}