{% extends 'home.html' %}
{% block content %}
{% load static %}

<body>
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="section-title">
                <h2>Фото</h2>
            </div>
            <div class="row portfolio-container">
                {% for p in photo %}
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                      <img src="{{ p.image_1.url }}" class="img-fluid" style="height: 250px; width: 475px;">
                      <div class="portfolio-info">
                        <h4>{{ p.name_1 }}</h4>
                        <div class="portfolio-links">
                          <a href="{{ p.image_1.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ p.name_1 }}"><i class="bx bx-plus"></i></a>
                        </div>
                      </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</body>

{% endblock %}